<form [formGroup]="postForm" (ngSubmit)="createPost()">
  <div>
    <h2>Create Post</h2>
    <label for="title">Title: </label><br />
    <input type="text" id="title" formControlName="title" />
    <div
      *ngIf="
        postForm.get('title')?.hasError('required') &&
        postForm.get('title')?.touched
      "
    >
      Title is required.
    </div>
  </div>
  <br />
  <div>
    <label for="content">Content: </label><br />
    <textarea id="content" formControlName="content"></textarea>
    <div
      *ngIf="
        postForm.get('content')?.hasError('required') &&
        postForm.get('content')?.touched
      "
    >
      Content is required.
    </div>
  </div>
  <button type="submit" [disabled]="postForm.invalid">Create Post</button>
</form>
